<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Admin - Casa Criativa</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    </head>

    <body id="page-ideas">
        <div id="container">
            <header>
                <section id="logos">
                    <a href="/">
                        <img id = "minilogo" src="https://image.flaticon.com/icons/svg/2729/2729003.svg" alt="Mini Logo">
                        <img id = "logo" src="Logo.png" alt="Logomarca">
                    </a>
                </section>
                <nav>
                    <li><a href="/">Início</a></li>
                    <li id="this"><a href="#">Ideias</a></li>
                </nav>        
            </header>
            <section id="title">
                <p>Em Exibicão</p>
                <h1>Gerenciar Ideias</h1>
                <main>
                    <section id="ideas">
                        {% for idea in ideias %}
                            <div class="idea" id={{idea.id}}>
                                <img src="{{idea.image}}" alt="IMG {{idea.title}}">

                                <div class="content">
                                    <output name="id">ID: {{idea.id}}</output>
                                    <h3>{{idea.title}}</h3>
                                    <p>{{idea.category}}</p>
                                    <div class="description">
                                        {{idea.description}}
                                    </div>
                                <form action="/admin" onsubmit="sendDelete(event)">
                                        <div class="input-wrapper">
                                            <label for="idIdea">ID</label>
                                            <input type="integer" name="idIdea" readonly value="{{idea.id}}">
                                        </div>
                                        <button href="/admin" >Remover</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </main>
            </section>
        </div>
    </body>
    <script src="scripts.js"></script>
</html>