<html>
    <head>
        <meta charset="UTF-8">

        <title>Casa Criativa</title>

        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        
    </head>

    <body>

        <div id="container">

            <section id="intro">

                <header>
                    <p>
                        <img class = "minilogo" src="https://image.flaticon.com/icons/svg/2729/2729003.svg" alt="Mini Logo">
                        <img class = "logo" src="/Logo.png" alt="Logomarca">
                    </p>
                </header>
                <main>
                    <p>
                        Ficar em casa em períodos longos, não deve ser nada fácil.
                    </p>
                    <p>
                        Iremos catalogar <strong>ideias, brincadeiras, jogos, filmes, livros, cursos, dicas</strong> e tudo que for necessário para tornar esse momento mais interessante.
                    </p>
                    <p>
                        Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicioando a sua ideia.
                    </p>
                    <section id="buttons">
                        <button onclick="hider()">
                            + Nova Idéia
                        </button>
                        <a class="button" href="/ideias">
                            Ver Idéias
                        </a>
                    </section>
                </main>
                <footer>
                    <p id="footer">
                        Com <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART"></i> <a target ="_blank" href="http://twitter.com/StefanGSchneid">Stefan Schneider</a> via <a target ="_blank" href="http://rocketseat.com.br">Rocketseat</a>
                    </p>
                    <p id="twitch">Vai pro meu <a target ="_blank" href="http://twitch.tv/S_Schneider"><strong>Canal da Twitch!</strong></a></p>

                    <p id="youtube">Ou pro meu <a target ="_blank" href="http://youtube.com/stefangamer97"><strong>Canal do Youtube!</strong></a></p>
                </footer>
            </section>

            <section id="last-ideas">

                
                {% for idea in ideias %}
                    <div class="idea">
                        <img src="{{idea.image}}" alt="IMG {{idea.title}}">

                        <div class="content">
                            <h3>{{idea.title}}</h3>
                            <p>{{idea.category}}</p>
                            <div class="description">
                                {{idea.description}}
                            </div>
                            <a href="{{idea.link}}" target ="_blank">Ir para a Idéia</a>
                        </div>
                    </div>
                {% endfor %}


                
            </section>

        </div>

        
        <!--Modal-->

        {% include "form.html" %}
        

    </body>
    <script src="/scripts.js"></script>
</html>